.roll-out-left{animation: 500ms roll-out-left;}
.roll-out-bottom{animation: 500ms roll-out-bottom;}
.roll-out-right{animation: 500ms roll-out-right;}
.roll-out-top{animation: 500ms roll-out-top;}
.roll-out-blurred-left{animation: 500ms roll-out-blurred-left;}
.roll-out-blurred-bottom{animation: 500ms roll-out-blurred-bottom;}
.roll-out-blurred-right{animation: 500ms roll-out-blurred-right;}
.roll-out-blurred-top{animation: 500ms roll-out-blurred-top;}
@keyframes roll-out-left {0% { transform: translateX(0) rotate(0deg); opacity: 1 }100% { transform: translateX(-1000px) rotate(-540deg); opacity: 0 }}
@keyframes roll-out-bottom {0% { transform: translateY(0) rotate(0deg); opacity: 1 }100% { transform: translateY(800px) rotate(540deg); opacity: 0 }}
@keyframes roll-out-right {0% { transform: translateX(0) rotate(0deg); opacity: 1 }100% { transform: translateX(1000px) rotate(540deg); opacity: 0 }}
@keyframes roll-out-top {0% { transform: translateY(0) rotate(0deg); opacity: 1 }100% { transform: translateY(-800px) rotate(-540deg); opacity: 0 }}
@keyframes roll-out-blurred-left {0% { transform: translateX(0) rotate(0deg); filter: blur(0); opacity: 1 }100% { transform: translateX(-1000px) rotate(-720deg); filter: blur(50px); opacity: 0 }}
@keyframes roll-out-blurred-bottom {0% { transform: translateY(0) rotate(0deg); opacity: 1 }100% { transform: translateY(800px) rotate(720deg); filter: blur(50px); opacity: 0 }}
@keyframes roll-out-blurred-right {0% { transform: translateX(0) rotate(0deg); filter: blur(0); opacity: 1 }100% { transform: translateX(1000px) rotate(720deg); filter: blur(50px); opacity: 0 }}
@keyframes roll-out-blurred-top {0% { transform: translateY(0) rotate(0deg); filter: blur(0); opacity: 1 }100% { transform: translateY(-800px) rotate(-720deg); filter: blur(50px); opacity: 0 }}