.scale-down-center{animation: 500ms scale-down-center;}
.scale-down-bottom{animation: 500ms scale-down-bottom;}
.scale-down-hor-right{animation: 500ms scale-down-hor-right;}
.scale-down-br{animation: 500ms scale-down-br;}
.scale-down-hor-left{animation: 500ms scale-down-hor-left;}
.scale-down-right{animation: 500ms scale-down-right;}
.scale-down-hor-center{animation: 500ms scale-down-hor-center;}
.scale-down-tr{animation: 500ms scale-down-tr;}
.scale-down-tl{animation: 500ms scale-down-tl;}
.scale-down-ver-bottom{animation: 500ms scale-down-ver-bottom;}
.scale-down-top{animation: 500ms scale-down-top;}
.scale-down-left{animation: 500ms scale-down-left;}
.scale-down-ver-top{animation: 500ms scale-down-ver-top;}
.scale-down-bl{animation: 500ms scale-down-bl;}
.scale-down-ver-center{animation: 500ms scale-down-ver-center;}
@keyframes scale-down-center {0% { transform: scale(1) }100% { transform: scale(.5) }}
@keyframes scale-down-bottom {0% { transform: scale(1); transform-origin: 50% 100% }100% { transform: scale(.5); transform-origin: 50% 100% }}
@keyframes scale-down-hor-right {0% { transform: scaleX(1); transform-origin: 100% 100% }100% { transform: scaleX(.3); transform-origin: 100% 100% }}
@keyframes scale-down-br {0% { transform: scale(1); transform-origin: 100% 100% }100% { transform: scale(.5); transform-origin: 100% 100% }}
@keyframes scale-down-hor-left {0% { transform: scaleX(1); transform-origin: 0 0 }100% { transform: scaleX(.3); transform-origin: 0 0 }}
@keyframes scale-down-right {0% { transform: scale(1); transform-origin: 100% 50% }100% { transform: scale(.5); transform-origin: 100% 50% }}
@keyframes scale-down-hor-center {0% { transform: scaleX(1) }100% { transform: scaleX(.3) }}
@keyframes scale-down-tr {0% { transform: scale(1); transform-origin: 100% 0 }100% { transform: scale(.5); transform-origin: 100% 0 }}
@keyframes scale-down-tl {0% { transform: scale(1); transform-origin: 0 0 }100% { transform: scale(.5); transform-origin: 0 0 }}
@keyframes scale-down-ver-bottom {0% { transform: scaleY(1); transform-origin: 0 100% }100% { transform: scaleY(.3); transform-origin: 0 100% }}
@keyframes scale-down-top {0% { transform: scale(1); transform-origin: 50% 0 }100% { transform: scale(.5); transform-origin: 50% 0 }}
@keyframes scale-down-left {0% { transform: scale(1); transform-origin: 0 50% }100% { transform: scale(.5); transform-origin: 0 50% }}
@keyframes scale-down-ver-top {0% { transform: scaleY(1); transform-origin: 100% 0 }100% { transform: scaleY(.3); transform-origin: 100% 0 }}
@keyframes scale-down-bl {0% { transform: scale(1); transform-origin: 0 100% }100% { transform: scale(.5); transform-origin: 0 100% }}
@keyframes scale-down-ver-center {0% { transform: scaleY(1) }100% { transform: scaleY(.3) }}