.swing-out-bottom-fwd { animation: 500ms swing-out-bottom-fwd;}
.swing-out-bottom-bck { animation: 500ms swing-out-bottom-bck;}
.swing-out-right-fwd { animation: 500ms swing-out-right-fwd;}
.swing-out-right-bck { animation: 500ms swing-out-right-bck;}
.swing-out-left-fwd { animation: 500ms swing-out-left-fwd;}
.swing-out-top-fwd { animation: 500ms swing-out-top-fwd;}
.swing-out-top-bck { animation: 500ms swing-out-top-bck;}
.swing-out-left-bck { animation: 500ms swing-out-left-bck;}
@keyframes swing-out-bottom-fwd {0% { transform: rotateX(0); transform-origin: bottom; opacity: 1 }100% { transform: rotateX(-70deg); transform-origin: bottom; opacity: 0 }}
@keyframes swing-out-bottom-bck {0% { transform: rotateX(0); transform-origin: bottom; opacity: 1 }100% { transform: rotateX(100deg); transform-origin: bottom; opacity: 0 }}
@keyframes swing-out-right-fwd {0% { transform: rotateY(0); transform-origin: right; opacity: 1 }100% { transform: rotateY(70deg); transform-origin: right; opacity: 0 }}
@keyframes swing-out-right-bck {0% { transform: rotateY(0); transform-origin: right; opacity: 1 }100% { transform: rotateY(-100deg); transform-origin: right; opacity: 0 }}
@keyframes swing-out-left-fwd {0% { transform: rotateY(0); transform-origin: left; opacity: 1 }100% { transform: rotateY(-70deg); transform-origin: left; opacity: 0 }}
@keyframes swing-out-top-fwd {0% { transform: rotateX(0deg); transform-origin: top; opacity: 1 }100% { transform: rotateX(70deg); transform-origin: top; opacity: 0 }}
@keyframes swing-out-top-bck {0% { transform: rotateX(0deg); transform-origin: top; opacity: 1 }100% { transform: rotateX(-100deg); transform-origin: top; opacity: 0 }}
@keyframes swing-out-left-bck {0% { transform: rotateY(0); transform-origin: left; opacity: 1 }100% { transform: rotateY(100deg); transform-origin: left; opacity: 0 }}