.fade-in {animation: 500ms fade-in;}
.fade-in-br {animation: 500ms fade-in-br;}
.fade-in-bottom {animation: 500ms fade-in-bottom;}
.fade-in-fwd {animation: 500ms fade-in-fwd;}
.fade-in-bck {animation: 500ms fade-in-bck;}
.fade-in-bl {animation: 500ms fade-in-bl;}
.fade-in-top {animation: 500ms fade-in-top;}
.fade-in-left {animation: 500ms fade-in-left;}
.fade-in-tr {animation: 500ms fade-in-tr;}
.fade-in-tl {animation: 500ms fade-in-tl;}
.fade-in-right {animation: 500ms fade-in-right;}
@keyframes fade-in {0% { opacity: 0 }100% { opacity: 1 }}
@keyframes fade-in-br {0% { transform: translateX(50px) translateY(50px); opacity: 0 }100% { transform: translateX(0) translateY(0); opacity: 1 }}
@keyframes fade-in-bottom {0% { transform: translateY(50px); opacity: 0 }100% { transform: translateY(0); opacity: 1 }}
@keyframes fade-in-fwd {0% { transform: translateZ(-80px); opacity: 0 }100% { transform: translateZ(0); opacity: 1 }}
@keyframes fade-in-bck {0% { transform: translateZ(80px); opacity: 0 }100% { transform: translateZ(0); opacity: 1 }}
@keyframes fade-in-bl {0% { transform: translateX(-50px) translateY(50px); opacity: 0 }100% { transform: translateX(0) translateY(0); opacity: 1 }}
@keyframes fade-in-top {0% { transform: translateY(-50px); opacity: 0 }100% { transform: translateY(0); opacity: 1 }}
@keyframes fade-in-left {0% { transform: translateX(-50px); opacity: 0 }100% { transform: translateX(0); opacity: 1 }}
@keyframes fade-in-tr {0% { transform: translateX(50px) translateY(-50px); opacity: 0 }100% { transform: translateX(0) translateY(0); opacity: 1 }}
@keyframes fade-in-tl {0% { transform: translateX(-50px) translateY(-50px); opacity: 0 }100% { transform: translateX(0) translateY(0); opacity: 1 }}
@keyframes fade-in-right {0% { transform: translateX(50px); opacity: 0 }100% { transform: translateX(0); opacity: 1 }}