.roll-in-left {animation: 500ms roll-in-left;}
.roll-in-top {animation: 500ms roll-in-top;}
.roll-in-right {animation: 500ms roll-in-right;}
.roll-in-bottom {animation: 500ms roll-in-bottom;}
.roll-in-blurred-left {animation: 500ms roll-in-blurred-left;}
.roll-in-blurred-top {animation: 500ms roll-in-blurred-top;}
.roll-in-blurred-right {animation: 500ms roll-in-blurred-right;}
.roll-in-blurred-bottom {animation: 500ms roll-in-blurred-bottom;}
@keyframes roll-in-left {0% { transform: translateX(-800px) rotate(-540deg); opacity: 0 }100% { transform: translateX(0) rotate(0deg); opacity: 1 }}
@keyframes roll-in-top {0% { transform: translateY(-800px) rotate(-540deg); opacity: 0 }100% { transform: translateY(0) rotate(0deg); opacity: 1 }}
@keyframes roll-in-right {0% { transform: translateX(800px) rotate(540deg); opacity: 0 }100% { transform: translateX(0) rotate(0deg); opacity: 1 }}
@keyframes roll-in-bottom {0% { transform: translateY(800px) rotate(540deg); opacity: 0 }100% { transform: translateY(0) rotate(0deg); opacity: 1 }}
@keyframes roll-in-blurred-left {0% { transform: translateX(-1000px) rotate(-720deg); filter: blur(50px); opacity: 0 }100% { transform: translateX(0) rotate(0deg); filter: blur(0); opacity: 1 }}
@keyframes roll-in-blurred-top {0% { transform: translateY(-800px) rotate(-720deg); filter: blur(50px); opacity: 0 }100% { transform: translateY(0) rotate(0deg); filter: blur(0); opacity: 1 }}
@keyframes roll-in-blurred-right {0% { transform: translateX(1000px) rotate(720deg); filter: blur(50px); opacity: 0 }100% { transform: translateX(0) rotate(0deg); filter: blur(0); opacity: 1 }}
@keyframes roll-in-blurred-bottom {0% { transform: translateY(800px) rotate(720deg); filter: blur(50px); opacity: 0 }100% { transform: translateY(0) rotate(0deg); opacity: 1 }}