.focus-in-contract-bck {animation: 500ms focus-in-contract-bck;}
.focus-in-contract {animation: 500ms focus-in-contract;}
.focus-in-expand-fwd {animation: 500ms focus-in-expand-fwd;}
.focus-in-expand {animation: 500ms focus-in-expand;}
.text-focus-in {animation: 500ms text-focus-i;}
@keyframes focus-in-contract-bck {0% { letter-spacing: 1em; transform: translateZ(300px); filter: blur(12px); opacity: 0 }100% { transform: translateZ(12px); filter: blur(0); opacity: 1 }}
@keyframes focus-in-contract {0% { letter-spacing: 1em; filter: blur(12px); opacity: 0 }100% { filter: blur(0); opacity: 1 }}
@keyframes focus-in-expand-fwd {0% { letter-spacing: -.5em; transform: translateZ(-800px); filter: blur(12px); opacity: 0 }100% { transform: translateZ(0); filter: blur(0); opacity: 1 }}
@keyframes focus-in-expand {0% { letter-spacing: -.5em; filter: blur(12px); opacity: 0 }100% { filter: blur(0); opacity: 1 }}
@keyframes text-focus-in {0% { filter: blur(12px); opacity: 0 }100% { filter: blur(0); opacity: 1 }}