.blur-out-contract {animation: 500ms blur-out-contract;}
.blur-out-contract-bck {animation: 500ms blur-out-contract-bck;}
.blur-out-expand {animation: 500ms blur-out-expand;}
.blur-out-expand-fwd {animation: 500ms blur-out-expand-fwd;}
.text-blur-out {animation: 500ms text-blur-out;}
@keyframes blur-out-contract {0% { filter: blur(.01) }100% { letter-spacing: -.5em; filter: blur(12px) opacity(0) }}
@keyframes blur-out-contract-bck {0% { transform: translateZ(0); filter: blur(.01) }100% { letter-spacing: -.5em; transform: translateZ(-500px); filter: blur(12px) opacity(0) }}
@keyframes blur-out-expand {0% { filter: blur(.01) }100% { letter-spacing: 1em; filter: blur(12px) opacity(0) }}
@keyframes blur-out-expand-fwd {0% { transform: translateZ(0); filter: blur(.01) }100% { letter-spacing: 1em; transform: translateZ(300px); filter: blur(12px) opacity(0) }}
@keyframes text-blur-out {0% { filter: blur(.01) }100% { filter: blur(12px) opacity(0) }}